@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #444;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 400;
}

.button {
  background: url(../img/btn-app-store.png) no-repeat center top;
  background-attachment: relative;
  background-position: center center;
  height: 60px;
  width: 180px;
  background-color: rgb(239, 63, 64);
  border-radius: 5px;
}

.btn-sign-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 180px;
  background-color: rgb(239, 63, 64);
  border-radius: 5px;
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.btn-sigh-up {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 180px;
  border: 2px solid rgb(239, 63, 64);
  border-radius: 5px;
  color: rgb(239, 63, 64);
  font-size: 22px;
  text-decoration: none;
  margin-left: 10px;
}

.btn-learn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 180px;
  background-color: rgb(239, 63, 64);
  border-radius: 5px;
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.left-container > p {
  text-align: justify;
}

#flag {
  background: url(../img/icons/flag.png) no-repeat center top;
}

#search {
  background: url(../img/icons/search.png) no-repeat center top;
}

#world-map {
  background: url(../img/icons/world-map.png) no-repeat center top;
}

.wrapper-subscribe {
  background: url(../img/bg-2.png) no-repeat center top;
  padding-top: 20px;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;

  background-size: 100%;

  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.email {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  padding-right: 10px;
  font-size: 18px;
  border: 2px solid rgb(181, 181, 181);
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  background-color: rgb(0, 188, 176);
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.foot-items > .social-items > .circle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
}

#tw {
  background-color: #00c4f1;
}

#fb {
  background-color: #58708b;
}

#pn {
  background-color: #e83549;
}

.foot-items > .social-items > .circle:last-child {
  margin-right: 0;
}
