body {
  color: #ffffff;
  margin: auto;
}

.smallapps {
  font-size: 30px;
  font-family: "ProximaNova";
  color: rgb(60, 61, 66);
  line-height: 1.2;
  text-align: left;
  text-decoration: none;
  position: absolute;
  left: 120px;
  top: 14px;
  z-index: 99;
}

.nav {
  font-size: 14px;
  font-family: "Raleway";
  color: rgb(60, 61, 66);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 300px;
  top: 14px;
  z-index: 76;
}

.phone {
  font-size: 18px;
  font-family: "Raleway";
  color: rgb(60, 61, 66);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 655px;
  top: 12px;
  z-index: 76;
  margin: auto;
  width: 100%;
}

.mail {
  font-size: 18px;
  font-family: "Raleway";
  color: rgb(60, 61, 66);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 855px;
  top: 12px;
  z-index: 76;
  margin: auto;
}

.bg-top {
  background-image: url("../img/bg.png");
  background-color: rgb(13, 104, 174);
  position: absolute;
  left: 0px;
  top: 70px;
  width: 100%;
  height: 730px;
  z-index: 88;
}

.appTitle {
  font-size: 36px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 120px;
  top: 182px;
  z-index: 91;
}

.duis {
  font-size: 36px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: lighter;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 120px;
  top: 225px;
  z-index: 93;
}

.description {
  font-size: 14px;
  font-family: "Raleway";
  color: rgb(157, 199, 209);
  line-height: 1.714;
  text-align: left;
  position: absolute;
  left: 120px;
  top: 330px;
  width: 468px;
  height: 62px;
  z-index: 89;
}


.image {
  background-image: url("../img/image.png");
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  left: 483px;
  top: 120px;
  height: 610px;
  width: 950px;
  z-index: 87;
}

.button {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(13, 72, 98, 0);
  border-radius: 50px;
  font-size: 21px;
  opacity: 0.5;
  position: absolute;
  left: 120px;
  top: 516px;
  width: 244px;
  height: 64px;
  z-index: 90;
  color: #ffffff;

}

.product {
  background-color: rgb(242, 249, 254);
  position: absolute;
  left: 0px;
  top: 1822px;
  width: 100%;
  height: 820px;
  z-index: 56;
}

.mobile {
  background-image: url("../img/mobile.png");
  position: absolute;
  left: 716px;
  top: 77px;
  width: 380px;
  height: 696px;
  z-index: 61;
}

.news {
  background-color: rgb(243, 245, 245);
  position: absolute;
  left: 0px;
  top: 5162px;
  width: 100%;
  height: 361px;
  z-index: 9;
}

.input_type {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(187, 195, 194);
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  position: absolute;
  left: 380px;
  top: 181px;
  width: 674px;
  height: 54px;
  z-index: 13;

  font-size: 14px;
  font-family: "Raleway";
  color: rgb(140, 148, 148);
  line-height: 1.714;
}

.submit {
  background-color: rgb(93, 202, 136);
  border-radius: 50px;
  border-style: none;
  position: absolute;
  left: 869px;
  top: 181px;
  width: 190px;
  height: 60px;
  z-index: 14;

  font-size: 20px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.01em;
}


.bg {
  background-color: rgb(45, 49, 47);
  position: absolute;
  left: 0px;
  top: 5523px;
  width: 100%;
  height: 307px;
  z-index: 3;
}
